{{ form_start(form) }}
<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_row(form.customerName) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_row(form.trackingNumber) }}
    </div>
</div>
<div class="form-group">
    {{ form_row(form.address, { attr: {'class': 'form-control'}}) }}
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_row(form.address2, { attr: {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-4">
        {{ form_row(form.city, { attr: {'class': 'form-control'}}) }}
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        {{ form_row(form.state, { attr: {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-4">
        {{ form_row(form.country, { attr: {'class': 'form-control'}}) }}
    </div>
    <div class="form-group col-md-2">
        {{ form_row(form.zipCode, { attr: {'class': 'form-control'}}) }}
    </div>
</div>

<div class="form-group">
    {{ form_row(form.orderValue, { attr: {'class': 'form-control'}}) }}
</div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
