{% extends 'base.html.twig' %}

{% block title %}LeaveType index{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Packages</h1>
</div>

    <h1>LeaveType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for leave_type in leave_types %}
            <tr>
                <td>{{ leave_type.id }}</td>
                <td>{{ leave_type.name }}</td>
                <td>
                    <a href="{{ path('leave_type_show', {'id': leave_type.id}) }}">show</a>
                    <a href="{{ path('leave_type_edit', {'id': leave_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('leave_type_new') }}">Create new</a>
{% endblock %}
